.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 480px;
    gap: 24px;
}