$desktop-header-width: 92px;

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    width: 1240px;
    margin: 0 auto;
    height: calc(100% - $desktop-header-width);
    &__column {
      display: flex;
      flex-direction: column;
      overflow: hidden;
      height: 100%;
    }
  }